.project-btn {
    position: relative;
    padding: 7px 40px;
    border-radius: 5px;
}

.project-btns {
    display: flex;
    width: 100%;
}

.project-container.last-project {
    height: 540px;
    max-height: 660px;
}

.project-img-container {
    width: 100%;
    max-width: 691px;
}

.project-img-container img {
    border-radius: 5px;
}

.project-img-container img:hover {
    cursor: pointer;
}

.project-brief-container {
    position: relative;
    width: min(100%, 691px);
    background-color: #161616;
    border-radius: 5px;
    padding: 2%;
    /* box shadow & bottom handled in JS */
    /* margins as inline styles */
}

.project-brief-container.last-project {
    margin-bottom: 0;
}

.project-brief-container .project-desc {
    font-size: 1.1rem;
}

.project-brief-container .project-title {
    
}

/* wrapper to keep project brief in flow but to the right */
.project-brief-flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* gradually increase height of last project card to increase spac */
@media screen and (max-width: 1050px) {
    .project-container.last-project {
        height: calc((1px + ((1050px - 100vw)) / 1200) * 540);
    }
}

/* return last project card's height to default and add bottom margin */
@media screen and (max-width: 784px) {
    .project-container.last-project {
        height: auto;
        margin-bottom: 43px;
    }
}