.hero {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}


.hero-text-container {
    width: 410px;
    position: absolute;
    top: 50%;
    left: 20%;
}

.hero-title {
    /* font-family: 'Gilroy Extra Bold'; */
    font-size: 100px;
    line-height: 5rem;

}