.carousel-indicators .active {
    background-color: #cf0010 !important;
}

.skill-container {
    position: relative;
    width: 33%;
    text-align: center;
    margin-bottom: 65px;
}

.skill-icon {
    font-size: 70px;
}

.skill-icon-svg {
    position: relative;
    top: 3px;
    fill: #727272;
    height: 62px;
    min-height: 43px;
    margin-bottom: 7px;
}

.skills-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    color: #727272;
}

@media screen and (max-width: 800px) {
    .skill-container {
        margin-bottom: calc((800px - (800px - 100vw)) / 800 * 65);
    }

    .skill-icon {
        font-size: calc((800px - (800px - 100vw)) / 800 * 70);
    }

    .skill-icon-svg {
        height: calc((800px - (800px - 100vw)) / 800 * 62);
    }
}

@media screen and (max-width: 550px) {
    .skill-icon {
        font-size: 48px;
    }
}

@media screen and (max-width: 400px) {
    .skill-container {
        width: 50%;
    }
}