.nav-copyright {
    opacity: 1;
    transition: opacity 1s;
}

.vertical-nav-bar {
    position: fixed;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 8%;
    left: 0;
    z-index: 100;
    transition: left 1s;
}

.vertical-nav-bar p {
    position: relative;
    left: 22px;
}

.vertical-nav-flex {
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 45px;
    justify-content: space-between;
    text-align: center;
}

.vertical-nav-flex a {
    color: white;
    transition: color .2s;
}

.vertical-nav-flex a:hover {
    color: #cf0010;
}

.nav-social-icon {
    font-size: 20px;
    color: inherit;
}

.navbar-spacer {
    height: 36%;
    width: 1px;
    margin: 0 auto;
}

/* move vertical nav bar off screen */
@media screen and (max-width: 1200px) {
    .nav-copyright {
        opacity: 0;
    }

    .vertical-nav-bar {
        /* display: none; */
        left: -100px;
    }
}