/* created this second css file to keep files organized */

.contact-fields-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-input {
    font-size: 1.5rem;
    width: 100%;
    background-color: #161616;
    /* border-style: ; */
    border-color: black;
    border-width: 5px;
    color: white;
    padding: .5%;
}

.input-container {
    margin-bottom: 2px;
    /* border: 5px solid black; */
}

.name-input-container, .email-input-container {
    width: calc(50% - 2px);
}

.send-btn {
    border: none;
    border-radius: 5px;
    padding: .5% 4%;
}

.subject-input-container, .message-textarea-container {
    width: 100%;
}
