/* created this second css file to keep files organized */

.contact-fields-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-input {
    font-size: 1.5rem;
    width: 100%;
    background-color: #161616;
    border: none;
    border-bottom: 1px solid #727272;
    color: white;
    padding: .5%;
}

.contact-input:focus {
    outline: none;
    border-color: #cf0010;
}

.input-container {
    margin-bottom: 2px;
}

.name-input-container, .email-input-container {
    width: calc(50% - 10px);
}

.send-btn {
    border: none;
    border-radius: 5px;
    padding: .5% 4%;
}

.subject-input-container, .message-textarea-container {
    width: 100%;
}
