.skill {
    width: 30%;
}

.skill-bar {
    border: 2px solid black;
    height: 15px;
    border-radius: 7px;
}

.skill-bar-fill {
    background-color: black;
    height: 100%;
}

.skill-percent {
    float: right;
}

.skill-text {
    padding: 0 5px 0 5px;
    margin-bottom: 3px;
}