header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 100%; */
    z-index: 100;
}

.header-copyright {
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 10vw;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 32px;
    font-size: 2rem;
}

.horizontal-nav-bar {
    position: absolute;
    top: 16px;
    left: 25vw;
    width: 35vw;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    transition: color .15s;
}

.nav-link:hover {
    color: #cf0010;
}

.navbar-spacer {
    width: 1px;
    height: 30vh;
    margin: 0 auto;
}

.nav-social-icon {
    color: white;
    font-size: 1.3rem;
    transition: color .25s;
}

.nav-social-icon:hover {
    color: #cf0010;
}

.nav-socials {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    /* background-color: salmon; */
    height: 13vh;
}

.vertical-nav-bar {
    position: relative;
    text-align: center;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 20px - 2rem - 2rem - 10vh);
    top: calc(40px + 2rem);
    width: 53px;
}