a:hover {
    text-decoration: none;
    color: white;
}

footer {
    /* background-color: black; */
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 4px 16px black;
    margin-top: 70px;
}

.footer-column {
    /* margin: 0 auto; */
    /* background-color: salmon; */
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1152px;
    margin: 0 auto;
}

.footer-header {
}

.footer-line {
    width: 80%;
    margin: 3% auto;
    height: 3px;
    background-color: white;
}

.footer-logo {
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-family: "Gilroy Extra Bold"
}

.footer-logo-container {

}

.footer-logo-subtext {

}

.footer-site-link {
    
}

.footer-socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-circle {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    transition: border-color .25s, background-color .25s;
}

.social-circle:hover {
    border-color: #cf0010;
    /* color: #cf0010; */
    background-color: #cf0010;
    cursor: pointer;
}

.social-icon {
    position: relative;
    top: calc((100% - 1.5rem) / 2);
    color: inherit;
    font-size: 1.5rem;
    margin: 0 auto;
    transition: color .25s;
}


@media screen and (max-width: 1213px) {
    .footer-flex {
        width: 95%;
    }
}

@media screen and (max-width: 720px) {
    .footer-column {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 7%;
    }

    .footer-flex {
        flex-direction: column;
    }
}