/* @font-face {
    font-family: "Gilroy Regular";
    src: url(./static/assets/fonts/Gilroy-Regular/font.woff);
    src: url(./static/assets/fonts/Gilroy-Regular/font.woff2);
    font-display: swap;
} */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #161616;
    font-family: "Gilroy Regular", Arial, Helvetica, sans-serif;
    word-spacing: 1px;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #727272;
}

.red-text {
    color: #cf0010
}

.red-bg {
    background-color: #cf0010;
}

.white-bg {
    background-color: #fff;
}

.gray-bg {
    background-color: #727272;
}