html {
    scroll-behavior: smooth;
}

body {
    background-color: #161616;
    font-family: "Gilroy Regular";
    word-spacing: 1px;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #727272;
}

.red-text {
    color: #cf0010
}

.red-bg {
    background-color: #cf0010;
}

.white-bg {
    background-color: #fff;
}

.gray-bg {
    background-color: #727272;
}